* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Sen";
  src: url("./fonts/Sen-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("./fonts/Sen-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #000;
  --level-1: #181823;
  --white: #fff;
  --purple: #5221e6;
  --light-grey: #8491a0;
  --dark-grey: #5b6876;
  --green-accent: #3cc74e;
  --blue-accent: #609bff;
  --pink-accent: #e95d90;
  --peach-accent: #fff3e4;
  --violet-accent: #fbe4ff;
  --gray: #ffffff80;
}

:root {
  --font-family: "Sen", sans-serif;
  --label1: 117px;
  --h1: 78px;
  --h2: 55px;
  --h3: 24px;
  --h5: 16px;
  --body1: 18px;
  --regular: 400;
  --bold: 700;
  --transition-duration: 0.65s;
  --padding-vert-large: 120px;
  --padding-vert-medium: 80px;
  --padding-vert-small: 48px;
  --padding-hor-large: 72px;
  --padding-hor-medium: 40px;
  --padding-hor-small: 20px;
  --padding-inline: clamp(20px, calc(40px + (100vw - 768px) * 0.0476), 72px);
  --padding-block: clamp(48px, 7.41vw + 21.33px, 120px);
}
body {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  background-color: var(--black);
  font-family: var(--font-family);
  color: var(--light-grey);
}
a {
  text-decoration: none;
  color: var(--white);
  transition-duration: var(--transition-duration);
}
a:hover {
  background-color: var(--purple);
}
ul {
  list-style: none;
}
.header {
  position: sticky;
  display: flex;
  padding-inline: var(--padding-inline);
  justify-content: space-between;
  align-items: center;

  .header-menu-list {
    display: flex;
    font-family: var(--font-family);
    color: var(--white);

    .header-menu-link {
      display: flex;
      padding: 32px 24px;
    }
  }
}

.hero-section {
  padding: var(--padding-vert-medium) var(--padding-inline) 84px 0;
  position: relative;

  .hero-container {
    display: flex;
    position: relative;
  }

  .hero-image {
    max-width: 53.57%;
    width: 100%;
  }

  .hero-text {
    position: absolute;
    max-width: 56%;
    width: 100%;
    right: 0;
    top: 13%;

    .hero-text-white {
      font-size: clamp(32px, 4.69vw + 19.5px, 78px);
      color: var(--white);
    }

    .hero-text-gray {
      font-weight: 700;
      font-size: var(--h1);
      color: var(--gray);
      font-size: clamp(32px, 4.69vw + 19.5px, 78px);
    }

    .hero-text-small {
      padding-top: 32px;
      font-weight: var(--regular);
      font-size: var(--body1);
      line-height: 150%;
      color: var(--white);
    }
  }

  .hero-gray-square {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    max-width: 62.5%;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--level-1);
  }
}
.experience-section {
  padding: var(--padding-block) var(--padding-inline);
  gap: 40px;
  display: flex;
  flex-direction: column;

  .experience-text-container {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    width: 100%;

    .experience-paragraph {
      text-transform: uppercase;
      padding-bottom: 8px;
    }

    .experience-title {
      font-family: var(--font-family);
      font-weight: var(--bold);
      font-size: var(--h2);
      color: var(--white);
    }
  }

  .works-container {
    display: flex;
    gap: 24px;

    .work {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 0;
    }

    .work-number {
      font-size: var(--label1);
    }

    .work-title-container {
      display: flex;
      flex-direction: row;
      font-size: var(--h3);
      color: var(--white);
      padding-bottom: 24px;
      padding-right: 10%;

      .work-title-text {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;

        .highlight-google {
          color: var(--green-accent);
        }

        .highlight-facebook {
          color: var(--blue-accent);
        }

        .highlight-dribbble {
          color: var(--pink-accent);
        }
      }
    }

    .work-description {
      padding-right: 10%;
      line-height: 1.5;
    }
  }
}

.philosophy-section {
  display: flex;

  .philosophy-text {
    background-color: var(--peach-accent);
    padding: var(--padding-block) var(--padding-inline);
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
    height: 600px;

    .philosophy-title {
      font-family: var(--font-family);
      font-weight: var(--bold);
      font-size: var(--h2);
      color: var(--level-1);
      padding-bottom: 24px;
    }
    .philosophy-description {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: var(--dark-grey);
    }
    .philosophy-about {
      color: var(--level-1);
      display: flex;
      max-width: fit-content;
      cursor: pointer;
      position: relative;
      margin-top: auto;
      padding-bottom: 5px;
    }
    .philosophy-about::before {
      content: "";
      position: absolute;
      max-width: 100%;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: var(--light-grey);
    }
  }
  .philosophy-image {
    background-image: url("images/ball.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 50%;
    width: 100%;
    aspect-ratio: 72/60;
    width: 100%;
  }
}

.skillset-section {
  display: grid;
  grid-template-columns: 1fr 2fr;

  gap: 24px;
  padding: var(--padding-block) var(--padding-inline);
}

.skillset-common {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .skillset-common-title {
    font-family: var(--font-family);
    font-weight: var(--bold);
    font-size: var(--h2);
    color: var(--white);
    text-transform: capitalize;
  }

  .skillset-common-description {
    font-family: var(--font-family);
    font-weight: var(--regular);
    font-size: var(--body1);
    line-height: 150%;
    padding-right: 49px;
  }
}

.skillset-list {
  display: grid;
  gap: 48px 24px;
  grid-template-columns: 1fr 1fr;

  .skillset-item {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .skillset-item-text {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .skillset-item-title {
        font-family: var(--font-family);
        font-weight: var(--bold);
        font-size: var(--h3);
        line-height: 150%;
        color: var(--white);
      }
    }
  }
}

.skillset-item-description {
  font-family: var(--font-family);
  font-weight: var(--regular);
  font-size: var(--h5);
  line-height: 150%;
  padding-right: 48px;
}

.slider-section {
  overflow: hidden;
}

.slides {
  display: flex;
  animation: slide 18s infinite;

  .slide {
    min-width: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    width: 100%;
    padding-block: 55px;
    border: 1px solid var(--level-1);
  }
}
.slides:hover {
  animation-play-state: paused;
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-50%);
  }
  0% {
    transform: translateX(0%);
  }
}

.projects-section {
  padding: var(--padding-block) var(--padding-inline);
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 34fr 66fr 34fr 66fr 34fr;
  gap: 24px;
  grid-template-areas:
    "project-header project2"
    "project1 project2"
    "project1 project4"
    "project3 project4"
    "project3 project-bottom";
}

.projects-header {
  grid-area: project-header;
  padding: 0 64px 80px 0;
}

.projects-bottom {
  grid-area: project-bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-bottom-button {
  font-family: var(--font-family);
  font-weight: var(--bold);
  font-size: var(--body1);
  line-height: 150%;
  text-transform: uppercase;
  color: var(--white);
  border: 1px solid var(--purple);
  padding: 24px 32px;
  cursor: pointer;
}

.project {
  display: flex;
  flex-direction: column;
}
.project-image {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.project1 {
  grid-area: project1;
}

.project2 {
  grid-area: project2;
}

.project3 {
  grid-area: project3;
}

.project4 {
  grid-area: project4;
}

.projects-header-pre-title {
  font-family: var(--font-family);
  font-weight: var(--bold);
  font-size: var(--h5);
  line-height: 150%;
  text-transform: uppercase;
  color: var(--light-grey);
}

.projects-header-title {
  font-family: var(--font-family);
  font-weight: var(--bold);
  font-size: var(--h2);
  color: var(--white);
}

.project-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 40px 32px;
  background-color: var(--level-1);

  .project-text-title {
    font-family: var(--font-family);
    font-weight: var(--bold);
    font-size: var(--h3);
    line-height: 150%;
    color: var(--white);
  }

  .project-text-description {
    font-family: var(--font-family);
    font-weight: var(--regular);
    font-size: var(--body1);
    line-height: 150%;
  }
}

.instagram-section {
  display: flex;

  .instagram-text {
    background-color: var(--peach-accent);
    padding: var(--padding-block) var(--padding-inline);
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
    height: 600px;

    .instagram-title {
      font-family: var(--font-family);
      font-weight: var(--bold);
      font-size: var(--h2);
      color: var(--level-1);
      padding-bottom: 24px;
    }
    .instagram-description {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: var(--dark-grey);
    }
    .instagram-follow {
      color: var(--level-1);
      display: flex;
      max-width: fit-content;
      cursor: pointer;
      position: relative;
      margin-top: auto;
      padding-bottom: 5px;
    }
    .instagram-follow::before {
      content: "";
      position: absolute;
      max-width: 100%;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: var(--light-grey);
    }
  }
  .instagram-image {
    background-image: url("images/plane.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 50%;
    width: 100%;
    aspect-ratio: 72/60;
    width: 100%;
  }
}

.dribbble-section {
  padding: var(--padding-block) var(--padding-inline);
}
.dribbble-wrapper {
  padding-inline: 110px;
  display: flex;
  flex-direction: column;
  gap: 120px;

  .dribbble-text-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .dribbble-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .dribbble-text-title {
      font-family: var(--font-family);
      font-weight: var(--bold);
      font-size: var(--h2);
      color: var(--white);
    }

    .dribbble-text-description {
      font-family: var(--font-family);
      font-weight: var(--regular);
      font-size: var(--body1);
      line-height: 150%;
      max-width: 636px;
    }
  }
  .dribbble-follow {
    color: var(--white);
    display: flex;
    max-width: fit-content;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
  }
  .dribbble-follow::before {
    content: "";
    position: absolute;
    max-width: 100%;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
  }

  .dribbble-image {
    max-width: 100%;
    width: 100%;
    border-radius: 8px;
  }
}

.reviews-section {
  padding: var(--padding-block) var(--padding-inline);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.reviews-text-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 48px;

  .reviews-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .reviews-text-title {
      font-family: var(--font-family);
      font-weight: var(--bold);
      font-size: var(--h2);
      color: var(--white);
    }

    .reviews-text-description {
      font-family: var(--font-family);
      font-weight: var(--regular);
      font-size: var(--body1);
      line-height: 150%;
    }
  }

  .reviews-follow {
    color: var(--white);
    display: flex;
    max-width: fit-content;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
  }
  .reviews-follow::before {
    content: "";
    position: absolute;
    max-width: 100%;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
  }
}

.reviews-cards {
  display: flex;
  flex-direction: column;
}

.reviews-card {
  display: flex;
  flex-direction: column;
  width: 100%;

  .reviews-card-image {
    max-width: 100%;
    width: 100%;
  }
}

/* media queries 1023 */
@media (max-width: 1023px) {
  .header {
    padding-inline: var(--padding-inline);
  }

  .experience-section,
  .philosophy-section .philosophy-text,
  .skillset-section {
    padding: var(--padding-vert-medium) var(--padding-inline);
  }

  .hero-gray-square {
    display: none;
  }

  .skillset-section {
    grid-template-columns: 1fr;
    gap: 40px;
    .skillset-common,
    .skillset-list {
      max-width: 100%;
    }
  }

  .slides {
    display: grid;
    animation: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .projects-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 48px;
    grid-template-areas:
      "project-header "
      "project1"
      "project2"
      "project4"
      "project3"
      "project-bottom";
  }
  .projects-bottom {
    display: none;
  }
  .dribbble-wrapper {
    padding-inline: 0;
  }
}

/* media queries 767px */
@media (max-width: 767px) {
  .philosophy-section {
    flex-direction: column;

    .philosophy-text,
    .philosophy-image {
      max-width: 100%;
      max-height: 450px;
      height: 100%;
      aspect-ratio: 4/5;
      padding-block: var(--padding-vert-small);
    }

    .philosophy-text .philosophy-title {
      font-size: 32px;
    }
  }

  .skillset-list {
    grid-template-columns: 1fr;
  }

  .skillset-item-description {
    padding-right: 0;
  }
}
